/Lab01/nbproject/private/
/Lab01/build/
/Lab02/nbproject/private/
/Lab02/build/
/Lab03/nbproject/private/
/Lab03/build/
/Assignment 1/nbproject/private/
/Assignment 1/build/
/Lab04/nbproject/private/
/Lab04/build/
/Quiz 1/nbproject/private/
/Quiz 1/build/
/Quiz1 Question 2/nbproject/private/
/Quiz1 Question 2/build/
/Lab05/nbproject/private/
/Lab06/nbproject/private/
/Lab06/build/
/Lab05/build/
/Test05/nbproject/private/
/Test05/build/
/Lab05/dist/
/Lab07/nbproject/private/
/Lab08/nbproject/private/
/Lab08/build/
/Admin & User Banking System/nbproject/private/
/Admin & User Banking System/build/
/Lab07/build/
/Lab10/nbproject/private/
/Lab10/build/
/Lab11/nbproject/private/
/Programming Assignment 3/nbproject/private/
/Programming Assignment 3/build/
/Quiz 2/nbproject/private/
/Lab Midterm/nbproject/private/
/Lab Midterm Question 5/nbproject/private/
/Lab Midterm Question 5/build/
/AwesomeString/nbproject/private/
/AwesomeString/build/
/Lab Mid Q4/nbproject/private/
